body {
  margin: 0;
  background: #0b0b0b;
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #000;
  border-bottom: 1px solid #222;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #d4af37;
}

.logo span {
  color: #7a0019;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #bbb;
  font-size: 15px;
}

.navbar a:hover {
  color: #d4af37;
}

.hero {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  color: #fff;
}

.hero p {
  color: #aaa;
  margin-top: 10px;
}
